VITE_FIREBASE_API_KEY= AIzaSyBAkySSvzru2gCoktSqkX5q8rkZEUBDCwc
VITE_FIREBASE_AUTH_DOMAIN= pause-4231f.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=pause-4231f
VITE_FIREBASE_STORAGE_BUCKET= pause-4231f.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=390048789686
VITE_FIREBASE_APP_ID= 1:390048789686:web:93e1ae4b6e538c975ba217
VITE_FIREBASE_MEASUREMENT_ID= G-CB5Z91K2TM
VITE_KINKOO_API_BASE_URL=
